In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Sahib Alizada\Desktop\SHB\Real Projects\5-Movie Performance & Popularity Analysis\Data\movies.csv")

In [3]:
df.head()

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,37.2512,8.713,29484
1,1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,30.7590,8.685,22254
2,2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,14.5889,8.571,13460
3,3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.1156,8.565,16977
4,4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,11.8666,8.551,9637

In [4]:
df.shape

(8560, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8560 entries, 0 to 8559
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8560 non-null   int64
 1   id            8560 non-null   int64
 2   title         8560 non-null   object
 3   overview      8559 non-null   object
 4   release_date  8558 non-null   object
 5   popularity    8560 non-null   float64
 6   vote_average  8560 non-null   float64
 7   vote_count    8560 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 535.1+ KB

In [8]:
df.drop(columns=["Unnamed: 0"],inplace = True)

In [9]:
df["release_date"]=pd.to_datetime(df["release_date"])
df["year"]=df["release_date"].dt.year

In [10]:
df[["vote_average", "vote_count"]].describe()

       vote_average    vote_count
count   8560.000000   8560.000000
mean       6.887360   2228.349299
std        0.565798   3496.027853
min        5.959000    300.000000
25%        6.421000    489.000000
50%        6.835000    922.000000
75%        7.300000   2274.250000
max        8.713000  38565.000000

In [11]:
df.sort_values("vote_count", ascending=False)[["title", "vote_average", "vote_count"]].head(10)

                         title  vote_average  vote_count
14                Interstellar         8.465       38565
40                   Inception         8.371       38467
6              The Dark Knight         8.525       34957
431               The Avengers         7.897       34919
1033                    Avatar         7.599       33204
966                   Deadpool         7.623       32221
93      Avengers: Infinity War         8.235       31321
20                  Fight Club         8.438       31212
11                Pulp Fiction         8.486       29502
0     The Shawshank Redemption         8.713       29484

In [12]:
popular_movies = df[df["vote_count"]>1000]
popular_movies.sort_values("vote_count",ascending=False)[["title", "vote_average", "vote_count"]].head(10)

                         title  vote_average  vote_count
14                Interstellar         8.465       38565
40                   Inception         8.371       38467
6              The Dark Knight         8.525       34957
431               The Avengers         7.897       34919
1033                    Avatar         7.599       33204
966                   Deadpool         7.623       32221
93      Avengers: Infinity War         8.235       31321
20                  Fight Club         8.438       31212
11                Pulp Fiction         8.486       29502
0     The Shawshank Redemption         8.713       29484

In [13]:
df[["vote_average", "vote_count"]].corr()

              vote_average  vote_count
vote_average      1.000000    0.273456
vote_count        0.273456    1.000000

In [14]:
df.groupby("year")["vote_average"].mean().sort_index()

year
1902.0    7.901000
1903.0    7.000000
1916.0    7.100000
1917.0    7.282000
1918.0    7.324000
            ...
2021.0    6.949633
2022.0    6.893777
2023.0    6.941013
2024.0    6.879688
2025.0    6.904195
Name: vote_average, Length: 111, dtype: float64

In [15]:
movie_stats = df.groupby("year").agg({
    "vote_average": "mean",
    "vote_count": "sum"
}).reset_index()

movie_stats.to_csv("movie_yearly_stats.csv", index=False)

In [16]:
movie_stats["year"] = movie_stats["year"].astype(int)
movie_stats.to_csv("movie_yearly_stats_fixed.csv", index=False)